# Add recipe for rubber sapling.
recipes.addShapeless(RubberSapling, [AnySapling, AnySlimeball]);

# Add recipe for quest book.
recipes.addShapeless(<13058>, [String]);

#add new sieve recipes
mods.exnihilo.sieve.addRecipe(Grass, Flower, 16);
mods.exnihilo.sieve.addRecipe(Grass, Rose, 16);								